.dropdown {
  background-color: #e8e8e8;
  width: 200px;
  position: relative;
  display: inline-block;
  height: 300px;
  font-family: "Tahoma";
  border-radius: 5px;
  background-color: #f5f5f5;
}

.dropbtn {
  margin-left: 5px;
}

.dropdown-content ul {
  list-style: none;
  padding-left: 0px;
  padding-right: 10px;
  margin: 5px;
}

.title {
  margin: 8px 8px;
  font-size: 12px;
  color: #787878;
  margin-left: 12px;
}

.dropdown-content {
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-left: 8px;
  font-size: 12px;
  top: 58px;
  left: 5px;
  border-radius: 5px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.arrow-down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-left: 15px;
  position: absolute;
  top: 5px;
}

.select-all {
  color: #40e0d0;
  font-weight: 300;
  margin: 10px;
}

.style {
  position: relative;
  margin-right: 5px;
}

.dropdown-content li {
  margin: 10px;
  height: 20px;
  font-size: 14px;
  color: #505050;
}

.input-dropdown {
  margin-right: 5px;
  margin-left: 0px;
  padding: 0px;
}

.closed-dropdown {
  display: flex;
  flex-direction: row;
  border: 1px solid green;
  height: 36px;
  align-items: center;
  padding-left: 10px;
  width: 120px;
  border-radius: 5px;
  border: 1px solid #a9a9a9;
  margin-left: 12px;
  background-color: white;
}
